/* error messgge */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.isa_info,
.isa_success,
.isa_warning,
.isa_error {
    margin: 10px 0px;
    padding: 12px;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.isa_info i,
.isa_success i,
.isa_warning i,
.isa_error i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}


/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main styling */

html,
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.em;
}

a {
    color: #333333;
    text-decoration: none;
}

.h2 {
    text-align: center;
    padding: 10px;
    color: rgb(99, 211, 99);
}

h1,
h2,
h3 {
    padding-bottom: 5px;
}

p {
    margin: 10px 0;
}


/* Utility classes */

.text-primary {
    color: rgb(99, 211, 99);
}

.lead {
    font-size: 25px;
}

.btn {
    font-size: 15px;
    color: whitesmoke;
    background: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(99, 211, 99);
    color: darkslategrey;
}

.btn-light {
    background: whitesmoke;
    color: darkslategrey;
}

.bg-dark {
    background: #333;
    color: whitesmoke;
}

.bg-light {
    background: whitesmoke;
    color: #333;
}

.bg-primary {
    color: #333;
    background: rgb(99, 211, 99);
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 50px;
}


/* Navbar */

#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}


/* padding */

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 25px;
}

#navbar ul {
    list-style: none;
    /*delete the point in the list */
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 30px;
    text-align: center;
    color: white;
}

#navbar ul li a.current,
#navbar ul li a:hover {
    background: rgb(99, 211, 99);
    color: darkslategrey;
}


/*Login Form */

#my-form {
    padding: 2rem;
    background: #f4f4f4;
}

#my-form label {
    display: block;
}

#my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#my-form input[type='password'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login_form {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}


/*footer*/

#main-footer {
    position: fixed;
    width: 100vw;
    height: 100hw;
    text-align: center;
    background: #333;
    color: whitesmoke;
    padding: 10px;
    bottom: 0px;
}


/*Gallery*/

.container-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

.galler-img img {
    width: 200px;
    padding: 10px 10px;
    /*TODO:make image fill out the space automatically*/
}

.galler-img .del_btn {
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.galler-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*TODO:make image fill out the space automatically*/
}

/* Sidebar */

.container-lab {
    display: flex;
    height: 84vh;
    width: 100%;
}

.content-lab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: yellow;
    flex: 2;
}

.img-picker {
    display: flex;
    padding: 20px 20px;
    justify-content: center;
}

#canvas_img {
    position: absolute;
    justify-self: center;
    top: 13%;
    width: 50%;
}

.list-img {
    margin-bottom: 100px;
}

#camera-stream {
    position: absolute;
    justify-self: center;
    top: 13%;
    width: 50%;
}

.sidebar {
    background: purple;
    flex: 1;
    height: 100%;
}

.main_gall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-img {
    display: flex;
    justify-content: center;
}

.frame-img img {
    flex-direction: column;
    width: 110px;
    padding: 10px;
}

.btn-action {
    background: grey;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    top: 0px;
    padding: 20px 20px;
}


/* Snap picture  */

#snap {
    position: absolute;
    justify-self: center;
    top: 13%;
    width: 50%;
}


/* Pagination */

.pagination {
    margin-top: 40px;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.active_page {
    background-color: royalblue;
    color: white;
}


/* Style photo page */

.main_photo {
    display: flex;
}

.photo_show {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.photo_show svg {
    width: 50px;
    padding: 10px 10px;
    justify-self: center;
}

.photo_show img {
    width: 50rem;
    height: 40rem;
    padding: 20px 20px;
}

.comment-bar {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 20px;
    justify-content: flex-end;
}

.comment_content {
    display: flex;
    height: 500px;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.comment_input {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.comment_input input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment_input input[type='submit'] {
    width: 20%;
    color: white;
    padding: 8px;
    background-color: lightcoral;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.send_btn {
    width: 20%;
    color: white;
    padding: 8px;
    background-color: lightcoral;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.like_comment {
    display: flex;
    justify-content: center;
}

.like_comment span {
    position: relative;
    top: 14px;
    font-size: 20px;
    color: blue;
    font-weight: bold;
}

.msg_comment {
    margin-top: 40px;
}

.msg_comment p {
    font-weight: bold;
}

.msg_comment span {
    background-color: burlywood;
    color: white;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 20%;
}